<html lang="en">
    <head>
        <title>Whoops!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="title">Whoops!</div>
        <div class="message">That link does not lead to anywhere! Are you sure you spelled it right?</div>
    </body>
</html>