<!DOCTYPE html>
<html lang="en">
    <head>
        <title>URL Shortener</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A simple URL Shortener for private use.">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="title">URL Shortener</div>
        <form method="POST">
            <input type="text" name="url" placeholder="Long URL" value="{{ url }}" autocomplete="off" required autofocus>
            <input type="text" name="url_id" placeholder="Short URL (optional)" autocomplete="off">
            <input type="submit" value="Shorten!">
        </form>
        <div class="success">
            {% if success == 1 %}
            Successfully shortened URL! Your URL is <a href="http://short.jakubwilk.xyz/{{ url_id | urlencode }}" target="_blank">short.jakubwilk.xyz/{{ url_id }}</a>
            {% elif success == -1 %}
            That short URL already exists!
            {% endif %}
        </div>
    </body>
</html>