<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <div class="title">URL Shortener</div>
        <form method="POST">
            <input type="text" name="url" placeholder="Long URL" value="{{ url }}" required autofocus>
            <input type="text" name="url_id" placeholder="Short URL (optional)">
            <input type="submit">
        </form>
        <div class="success">
            {% if success == 1 %}
            Successfully shortened URL! Your URL is <a href="http://short.jakubwilk.xyz/{{ url_id }}">short.jakubwilk.xyz/{{ url_id }}</a>
            {% elif success == -1 %}
            That short URL already exists!
            {% endif %}
        </div>
    </body>
</html>