body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9b59b6;
}

div {
    font-family: "Montserrat", sans-serif;
}

.title {
    font-size: 4rem;
    margin-bottom: 4rem;
    font-weight: bold;
    color: white;
    text-shadow: 0.2rem 0.2rem 0.3rem rgba(0,0,0,0.4);
}

.message {
    max-width: 40vw;
    font-size: 2rem;
    color: white;
    text-shadow: 0.2rem 0.2rem 0.3rem rgba(0,0,0,0.4);
    text-align: center;
}