body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9b59b6;
}

div, input {
    font-family: "Montserrat", sans-serif;
}

.title {
    height: 4rem;
    font-size: 2.8rem;
    margin-bottom: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 0.2rem 0.2rem 0.3rem rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    height: 2.5rem;
    font-size: 1rem;
    margin: 0.5rem;
    color: #2c3e50;
    outline: none;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.2),0 4px 6px -2px rgba(0,0,0,0.1);
    border: none;
    border-radius: 0.5rem;
}

input[type=text] {
    min-width: 40vw;
    padding-left: 0.5rem;
}

input[type=submit] {
    background-color: white;
    width: 8rem;
}

input[type=submit]:hover {
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.4),0 4px 6px -2px rgba(0,0,0,0.2);
}

input::placeholder {
    color: #95a5a6;
}

.success {
    height: 2.5rem;
    font-size: 1.2rem;
    min-width: 1rem;
    color: white;
}

a:link {
    color: #f1c40f;
}

a:visited {
    color: #e67e22;
}

a:hover {
    color: #f39c12;
}

a:active {
    color: #e67e22;
}